:root {
  --primary-color: #0a1118;
  --primary-color-highlight: #233d54;
  --bs-body-bg: #fbf0f6;
  --bs-body-font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Main header */
.header {
  z-index: 2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 60%, transparent);
}

/* Navigation bar */
.my-mobile-navbar {
  text-transform: uppercase;
}

/* Hero section */
.hero {
  position: relative;
  height: 100vh;
  background-color: black;
}

@media screen and (max-width: 768px) {
  .header {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.75) 90%,
      transparent
    );
  }

  .my-mobile-navbar {
    margin: 0;
    text-align: center;
    display: block;
  }
}
